  .chat-history {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
  }

  .message-text {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .user {
    background-color: #3fead0;
    text-align: right;
  }

  .bot {
    background-color: #2dabff;
    text-align: left;
  }

  .input-area {
    display: flex;
    margin-top: 10px;
  }

  .input-area mat-form-field {
    flex-grow: 1;
    margin-right: 10px;
  }
